body {
    margin: 10px solid black;
    padding: 10px;
    font-family: math;
}

h1 {
    text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: olivedrab;
}

p {
    text-align: center;
    color: black;
}


/* the style thingie is used for changing the appearance of the img tag under the id attribute */
#banner {
    width: 250;
    height: 250;
}

#navbar {
    padding: 8px;
    
}


/* the below thingie is used for changing the appearance of any tag, under the class attribute */
.emphasis {
    color: darkblue;
}

.location {
    color: grey;
}